{% extends 'admin_index.html' %}

{% block content %}
<br><br>
<div style="max-width: 500px; margin: auto; padding: 20px; background: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <h2 style="text-align: center;">Add Category</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div style="margin-bottom: 15px;">
            <label for="name" style="display: block; font-weight: bold;">Category Name:</label>
            <input type="text" name="name" required style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
        </div>

        <label for="images">Images:</label>
        <input type="file" id="images" name="images" multiple required 
               style="width: 100%; padding: 8px; margin-bottom: 10px;">
        

        <div style="margin-bottom: 15px;">
            <label for="description" style="display: block; font-weight: bold;">Description (optional):</label>
            <textarea name="description" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; height: 80px;"></textarea>
        </div>

        <div style="text-align: center;">
            <button type="submit" style="background:  #595b5d; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
                Add Category
            </button>
        </div>
    </form>
    <div style="text-align: center; margin-top: 15px;">
        <a href="{% url 'category_list' %}" style="text-decoration: none; color: #595b5d; font-weight: bold;">View Categories</a>
    </div>
</div>
{% endblock %}
